/* Main Content */

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
    margin-bottom: 10px;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .search-container {
    display: none; 
    position: relative;
}
#content main .table-data .head .search-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 18px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
	text-align: left;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	padding-left: px;
	justify-content: left;
}

#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}

/* PAGINATION */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: none;
    background: var(--blue, #007bff); /* Default color */
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.pagination button:disabled {
    background: var(--dark-grey, #d3d3d3);
    cursor: not-allowed;
}

.page-numbers {
    padding: 0 10px;
    font-weight: bold;
    color: #333;
}
