<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- My CSS -->
    <link rel="stylesheet" href="../base/dashbord_base.css">
    <link rel="stylesheet" href="../statics/css/complaintreport_page.css">

    <title>complaintreport_page</title>
</head>
<body>
<!-- SIDEBAR Section -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class="fa-solid fa-layer-group"></i>
        <span class="text">Admin</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="#">
                <i class="fa-solid fa-border-all"></i>
                <span class="text">Complaint Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-computer"></i>
                <span class="text">Manage User</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class="fa-solid fa-gear"></i>
                <span class="text">Settings</span>
            </a>
        </li>
        <li>
            <a href="{{ url_for('logout') }}" class="logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- END SIDEBAR Section -->

<!-- CONTENT Section -->
<section id="content">

    <!-- NAVBAR Section -->
    <nav>
        <i class='bx bx-menu' style="cursor: pointer;"></i> <!-- Sidebar Toggle with Pointer Cursor -->

        <!-- CMS Heading -->
        <div class="cms-title">
            <h2>CMS</h2>
        </div>

        <!-- Profile Image with Dropdown -->
        <div class="profile-dropdown">
            <a href="#" class="profile" id="profileImage">
                <img src="../img/profile.jpg" alt="Profile Image">
            </a>
            <!-- Submenu for Profile Image -->
            <div class="dropdown-content" id="profileDropdown">
                <a href="#">User</a>
                <a href="#">Admin</a>
                <a href="#">Super User</a>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR Section -->

    <!-- MAIN Content Section -->
    <main>
        <!-- Main title Section -->
        <div class="head-title">
            <div class="left">
                <h1>Complaint Report</h1>
            </div>
            <div>
                <a href="{{ url_for('download_excel') }}" class="btn-download">
                    <i class="fa-solid fa-download"></i>
                    <span class="text">Download PDF</span>
                </a>
            </div>
        </div>

        <!-- Main content Section -->
        <div class="table-data">
            <div class="order">
                <!-- Form Section -->
                <div id="form"> 
                    <!-- First Row of Form -->
                    <div class="first-row">
                        <!-- Report ID Section -->
                        <div class="location">
                            <div class="title">Report Id : </div>
                            <input class="input-text" type="text" value="{{ report.Rid }}" disabled>
                        </div>

                        <!-- Complaint Date Section -->
                        <div class="location">
                            <div class="title">Complain Date : </div>
                            <input class="input-text" type="text" value="{{ report.date.strftime('%d-%m-%Y %H:%M') }}" disabled>
                        </div>

                        <!-- Department Section -->
                        <div class="location">
                            <div class="title">Department : </div>
                            <input class="input-text" type="text" value="{{ report.department }}" disabled>
                        </div>

                        <!-- Problem Type Section -->
                        <div class="location">
                            <div class="title">Problem Type : </div>
                            <input class="input-text" type="text" value="{{ report.problem_type }}" disabled>
                        </div>

                        <!-- Location Section -->
                        <div class="location">
                            <div class="title">Location : </div>
                            <input class="input-text" type="text" value="{{ report.location }}" disabled>
                        </div>

                        <!-- 5S-Tag Section -->
                        <div class="location">
                            <div class="title">5S-Tag : </div>
                            <input class="input-text" type="text" value="{{ report._5stag }}" disabled>
                        </div>

                        <!-- User Name Section -->
                        <div class="location">
                            <div class="title">User-Name : </div>
                            <input class="input-text" type="text" value="{{ report.user.Name }}" disabled>
                        </div>

                        <!-- User Department Section -->
                        <div class="location">
                            <div class="title">User-Department : </div>
                            <input class="input-text" type="text" value="{{ report.user.department }}" disabled>
                        </div>

                        <!-- Solver Name Section -->
                        <div class="location">
                            <div class="title">Solver-Name : </div>
                            <input class="input-text" type="text" value="{{ report.solver.Name }}" disabled>
                        </div>

                        <!-- Solver Date Section -->
                        <div class="location">
                            <div class="title">Solver-Date : </div>
                            <input class="input-text" type="text" value="{{ report.solved_date.strftime('%d-%m-%Y %H:%M') }}" disabled>
                        </div>

                        <!-- Status Section -->
                        <div class="location">
                            <div class="title">Status: </div>
                            <input class="input-text" type="text" value="Pending" disabled>
                        </div>
                    </div>

                    <!-- Problem Description Section -->
                    <div class="Problem-Description">
                        <div class="title">Problem-Description : </div>
                        <textarea class="input-problem" name="comment" rows="2" cols="202" disabled>{{ report.description }}</textarea>
                    </div>

                    {% if report.solved_date %}
                    <!-- Note By Department Section -->
                    <div class="Problem-Description">
                        <div class="title">Note By Department : </div>
                        <textarea class="input-problem" name="comment" rows="1" cols="120"></textarea>
                    </div>
                    {% else %}
                    {% if current_user.roll == 'Maintenance' and current_user.roll == report.department %}
                    {% endif %}
                    {% endif %}

                    <!-- Submit Button Section -->
                    <button class="btn" id="submit" type="submit" onclick="openPopup()">Submit</button>

                    <!-- Popup Section -->
                    <div class="pop-up" id="popup">
                        <img src="404-tick.png" alt="">
                        <h2>Thank You!</h2>
                        <p>Your Application has been successfully submitted. Thank you!</p>
                        <button type="button" onclick="closePopup()">OK</button>
                    </div>
                </div>	
                <!-- END Form Section -->
            </div>                
        </div>
    </main>
    <!-- END MAIN Content Section -->
</section>
<!-- END CONTENT Section -->

<script src="../base/dashbord_base.js"></script>
</body>
</html>
